In [7]:
# Setup/importing the data
import pandas as pd     # import the pandas library to read a .csv file

median_home_values = pd.read_csv("Median_List_raw_month.csv")   # make sure the data file is in the same directory

display(median_home_values.head(10))    # view the first 10 rows of data

,RegionName,StateName,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,...,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020
0,"New York, NY",NY,519900.0,519999.0,515000.0,519000.0,538888.0,549000.0,550000.0,568500.0,...,575000,579000,579000,578000,575000,579900,598000,595000,599000,599900
1,"Los Angeles-Long Beach-Anaheim, CA",CA,795000.0,795000.0,799000.0,799000.0,810000.0,845000.0,850000.0,849999.0,...,839999,848000,849000,849000,850000,895000,899900,859000,879650,925000
2,"Chicago, IL",IL,315000.0,305000.0,299000.0,299000.0,319900.0,339000.0,349000.0,349900.0,...,325000,319900,314500,301640,306000,324900,332500,329000,335000,345500
3,"Dallas-Fort Worth, TX",TX,344900.0,340000.0,342844.0,345000.0,350000.0,359990.0,369447.0,369000.0,...,340000,340000,340000,335000,331500,338500,340000,339900,349900,356000
4,"Philadelphia, PA",PA,259990.0,259000.0,249900.0,249000.0,250000.0,262250.0,269900.0,279000.0,...,299890,299900,299000,289900,289000,295000,299900,300000,319990,335000
5,"Houston, TX",TX,319995.0,323042.0,324900.0,324990.0,329500.0,335000.0,339500.0,340000.0,...,316581,316672,313000,309900,309000,312836,319000,318900,325000,334290
6,"Washington, DC",DC,459990.0,439900.0,427000.0,425900.0,439000.0,457000.0,460000.0,475000.0,...,485000,488000,485000,479990,484990,499900,525000,515000,529900,550000
7,"Miami-Fort Lauderdale, FL",FL,395000.0,395000.0,395000.0,395000.0,395000.0,399000.0,399000.0,399700.0,...,399900,399995,399999,400000,399900,399999,400000,398000,395000,399000
8,"Atlanta, GA",GA,300000.0,307000.0,309000.0,313990.0,322000.0,335000.0,349000.0,350000.0,...,329900,326499,325000,324250,322500,325000,330000,325900,335000,347900
9,"Boston, MA",MA,549900.0,549000.0,534900.0,539900.0,554900.0,594900.0,599000.0,599000.0,...,574900,578000,575000,574500,575000,599000,619900,599900,624900,642610

In [8]:
#Example 1
display(median_home_values.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  119 non-null    object
 1   StateName   119 non-null    object
 2   10/31/2017  117 non-null    float64
 3   11/30/2017  117 non-null    float64
 4   12/31/2017  117 non-null    float64
 5   1/31/2018   117 non-null    float64
 6   2/28/2018   117 non-null    float64
 7   3/31/2018   117 non-null    float64
 8   4/30/2018   117 non-null    float64
 9   5/31/2018   117 non-null    float64
 10  6/30/2018   117 non-null    float64
 11  7/31/2018   119 non-null    int64
 12  8/31/2018   119 non-null    int64
 13  9/30/2018   119 non-null    int64
 14  10/31/2018  119 non-null    int64
 15  11/30/2018  119 non-null    int64
 16  12/31/2018  119 non-null    int64
 17  1/31/2019   119 non-null    int64
 18  2/28/2019   119 non-null    int64
 19  3/31/2019   119 non-null    int64
 20  4/30/2019   119 non-null    int64
 21  5/31/2019   119 non-null    int64
 22  6/30/2019   119 non-null    int64
 23  7/31/2019   119 non-null    int64
 24  8/31/2019   119 non-null    int64
 25  9/30/2019   119 non-null    int64
 26  10/31/2019  119 non-null    int64
 27  11/30/2019  119 non-null    int64
 28  12/31/2019  119 non-null    int64
 29  1/31/2020   119 non-null    int64
 30  2/29/2020   119 non-null    int64
 31  3/31/2020   119 non-null    int64
 32  4/30/2020   119 non-null    int64
 33  5/31/2020   119 non-null    int64
 34  6/30/2020   119 non-null    int64
dtypes: float64(9), int64(24), object(2)
memory usage: 32.7+ KB

None

In [9]:
# Example 2
import numpy as py              # use py for numpy from now on

mean_by_month = median_home_values.mean(axis=0)  # calculate the mean of each column

print(mean_by_month)  # output the means

10/31/2017    318782.863248
11/30/2017    317576.170940
12/31/2017    317105.760684
1/31/2018     319088.803419
2/28/2018     326966.273504
3/31/2018     335194.777778
4/30/2018     341345.606838
5/31/2018     344427.555556
6/30/2018     343827.752137
7/31/2018     339424.739496
8/31/2018     333570.680672
9/30/2018     330338.084034
10/31/2018    327906.235294
11/30/2018    324342.100840
12/31/2018    322769.899160
1/31/2019     324615.495798
2/28/2019     331416.521008
3/31/2019     341660.798319
4/30/2019     349141.630252
5/31/2019     353863.831933
6/30/2019     353282.176471
7/31/2019     349759.521008
8/31/2019     346192.109244
9/30/2019     343952.521008
10/31/2019    341937.310924
11/30/2019    340246.857143
12/31/2019    339031.420168
1/31/2020     341860.268908
2/29/2020     351774.386555
3/31/2020     359149.168067
4/30/2020     355366.075630
5/31/2020     364656.268908
6/30/2020     374990.243697
dtype: float64

/var/folders/tn/9wq1twg57s148hqf15cf4hgr0000gn/T/ipykernel_63571/2409341348.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_by_month = median_home_values.mean(axis=0)  # calculate the mean of each column

Question 1: In looking at the data, with each ‚Äòrow‚Äô being a different region/city and each column being a different month, what can we determine from means over time (columns)?
If we were to do the same calculations on the locations (rows), what can we determine?
Be specific.

You can infer that means over time from month to month tend to fluctuate by a small margin. When comparing based on location,
you can see that home prices vary much greater depending on the region you are looking at.

In [6]:
# Example 3
mean_by_region = median_home_values.mean(axis=1)  # calculate the mean of each row

print(mean_by_region.apply(int))  # output the means

0      563205
1      825307
2      325683
3      346302
4      280636
        ...
114    277133
115    293346
116    256750
117    383112
118    236240
Length: 119, dtype: int64

/var/folders/tn/9wq1twg57s148hqf15cf4hgr0000gn/T/ipykernel_63571/1714706955.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  mean_by_region = median_home_values.mean(axis=1)  # calculate the mean of each row

Question 2: We only looked at the first five here, but using the data from the .info above, we can
determine which cities are the first five. What does this data tell you?

This data gives us the mean home prices by each region.

In [10]:
# Example 4: .ùëÄùëíùëëùëñùëéùëõ  is the command to calculate the median.

median_by_month = median_home_values.median(axis=0)

print(median_by_month)

10/31/2017    275000.0
11/30/2017    279000.0
12/31/2017    279000.0
1/31/2018     275000.0
2/28/2018     283000.0
3/31/2018     290000.0
4/30/2018     296264.0
5/31/2018     299000.0
6/30/2018     299000.0
7/31/2018     295000.0
8/31/2018     289000.0
9/30/2018     284900.0
10/31/2018    284900.0
11/30/2018    280000.0
12/31/2018    284650.0
1/31/2019     286000.0
2/28/2019     290000.0
3/31/2019     299000.0
4/30/2019     304900.0
5/31/2019     299900.0
6/30/2019     299900.0
7/31/2019     299900.0
8/31/2019     299000.0
9/30/2019     294900.0
10/31/2019    290000.0
11/30/2019    289900.0
12/31/2019    289900.0
1/31/2020     295000.0
2/29/2020     304900.0
3/31/2020     310900.0
4/30/2020     309900.0
5/31/2020     320000.0
6/30/2020     329000.0
dtype: float64

/var/folders/tn/9wq1twg57s148hqf15cf4hgr0000gn/T/ipykernel_63571/180317321.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  median_by_month = median_home_values.median(axis=0)

Exercise 1: Generate a variable median_by_region that contains the median values for each region. Print median_by_region
the same way you printed mean_by_region.

In [15]:
median_by_region = median_home_values.median(axis=1)  # calculate the median of each row

print(median_by_region.apply(int))  # output the median

0      569000
1      839999
2      325000
3      344000
4      279900
        ...
114    274900
115    290900
116    256600
117    379000
118    239900
Length: 119, dtype: int64

/var/folders/tn/9wq1twg57s148hqf15cf4hgr0000gn/T/ipykernel_63571/2686351760.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  median_by_region = median_home_values.median(axis=1)  # calculate the median of each row

Exercise 2: Create variables max_by_month, min_by_region, and std_by_month.
Print max_by_month the same way you printed previous variables.

In [18]:
max_by_month = median_home_values.max(axis=1)
min_by_region = median_home_values.min(axis=1)
std_by_month = median_home_values.std(axis=1)
print(max_by_month.apply(int))

0      599900
1      925000
2      349900
3      369447
4      335000
        ...
114    299900
115    312900
116    275000
117    425000
118    269900
Length: 119, dtype: int64

/var/folders/tn/9wq1twg57s148hqf15cf4hgr0000gn/T/ipykernel_63571/1061515492.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  max_by_month = median_home_values.max(axis=1)
/var/folders/tn/9wq1twg57s148hqf15cf4hgr0000gn/T/ipykernel_63571/1061515492.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  min_by_region = median_home_values.min(axis=1)
/var/folders/tn/9wq1twg57s148hqf15cf4hgr0000gn/T/ipykernel_63571/1061515492.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  std_by_month = median_home_values.std(axis=1)

In [11]:
# Example 5
print("Mean Home Values by month are:", mean_by_month.apply(int))

Mean Home Values by month are: 10/31/2017    318782
11/30/2017    317576
12/31/2017    317105
1/31/2018     319088
2/28/2018     326966
3/31/2018     335194
4/30/2018     341345
5/31/2018     344427
6/30/2018     343827
7/31/2018     339424
8/31/2018     333570
9/30/2018     330338
10/31/2018    327906
11/30/2018    324342
12/31/2018    322769
1/31/2019     324615
2/28/2019     331416
3/31/2019     341660
4/30/2019     349141
5/31/2019     353863
6/30/2019     353282
7/31/2019     349759
8/31/2019     346192
9/30/2019     343952
10/31/2019    341937
11/30/2019    340246
12/31/2019    339031
1/31/2020     341860
2/29/2020     351774
3/31/2020     359149
4/30/2020     355366
5/31/2020     364656
6/30/2020     374990
dtype: int64