In [2]:
# Setup/importing the data
import pandas as pd     # import the pandas library to read a .csv file

median_home_values = pd.read_csv("Median_List_raw_month.csv")   # make sure the data file is in the same directory

display(median_home_values.head(10))    # view the first 10 rows of data

,RegionName,StateName,10/31/2017,11/30/2017,12/31/2017,1/31/2018,2/28/2018,3/31/2018,4/30/2018,5/31/2018,...,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020
0,"New York, NY",NY,519900.0,519999.0,515000.0,519000.0,538888.0,549000.0,550000.0,568500.0,...,575000,579000,579000,578000,575000,579900,598000,595000,599000,599900
1,"Los Angeles-Long Beach-Anaheim, CA",CA,795000.0,795000.0,799000.0,799000.0,810000.0,845000.0,850000.0,849999.0,...,839999,848000,849000,849000,850000,895000,899900,859000,879650,925000
2,"Chicago, IL",IL,315000.0,305000.0,299000.0,299000.0,319900.0,339000.0,349000.0,349900.0,...,325000,319900,314500,301640,306000,324900,332500,329000,335000,345500
3,"Dallas-Fort Worth, TX",TX,344900.0,340000.0,342844.0,345000.0,350000.0,359990.0,369447.0,369000.0,...,340000,340000,340000,335000,331500,338500,340000,339900,349900,356000
4,"Philadelphia, PA",PA,259990.0,259000.0,249900.0,249000.0,250000.0,262250.0,269900.0,279000.0,...,299890,299900,299000,289900,289000,295000,299900,300000,319990,335000
5,"Houston, TX",TX,319995.0,323042.0,324900.0,324990.0,329500.0,335000.0,339500.0,340000.0,...,316581,316672,313000,309900,309000,312836,319000,318900,325000,334290
6,"Washington, DC",DC,459990.0,439900.0,427000.0,425900.0,439000.0,457000.0,460000.0,475000.0,...,485000,488000,485000,479990,484990,499900,525000,515000,529900,550000
7,"Miami-Fort Lauderdale, FL",FL,395000.0,395000.0,395000.0,395000.0,395000.0,399000.0,399000.0,399700.0,...,399900,399995,399999,400000,399900,399999,400000,398000,395000,399000
8,"Atlanta, GA",GA,300000.0,307000.0,309000.0,313990.0,322000.0,335000.0,349000.0,350000.0,...,329900,326499,325000,324250,322500,325000,330000,325900,335000,347900
9,"Boston, MA",MA,549900.0,549000.0,534900.0,539900.0,554900.0,594900.0,599000.0,599000.0,...,574900,578000,575000,574500,575000,599000,619900,599900,624900,642610

In [3]:
#Example 1
display(median_home_values.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 35 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   RegionName  119 non-null    object
 1   StateName   119 non-null    object
 2   10/31/2017  117 non-null    float64
 3   11/30/2017  117 non-null    float64
 4   12/31/2017  117 non-null    float64
 5   1/31/2018   117 non-null    float64
 6   2/28/2018   117 non-null    float64
 7   3/31/2018   117 non-null    float64
 8   4/30/2018   117 non-null    float64
 9   5/31/2018   117 non-null    float64
 10  6/30/2018   117 non-null    float64
 11  7/31/2018   119 non-null    int64
 12  8/31/2018   119 non-null    int64
 13  9/30/2018   119 non-null    int64
 14  10/31/2018  119 non-null    int64
 15  11/30/2018  119 non-null    int64
 16  12/31/2018  119 non-null    int64
 17  1/31/2019   119 non-null    int64
 18  2/28/2019   119 non-null    int64
 19  3/31/2019   119 non-null    int64
 20  4/30/2019   119 non-null    int64
 21  5/31/2019   119 non-null    int64
 22  6/30/2019   119 non-null    int64
 23  7/31/2019   119 non-null    int64
 24  8/31/2019   119 non-null    int64
 25  9/30/2019   119 non-null    int64
 26  10/31/2019  119 non-null    int64
 27  11/30/2019  119 non-null    int64
 28  12/31/2019  119 non-null    int64
 29  1/31/2020   119 non-null    int64
 30  2/29/2020   119 non-null    int64
 31  3/31/2020   119 non-null    int64
 32  4/30/2020   119 non-null    int64
 33  5/31/2020   119 non-null    int64
 34  6/30/2020   119 non-null    int64
dtypes: float64(9), int64(24), object(2)
memory usage: 32.7+ KB

None