In [3]:
#Example 1
import pandas as pd
data = pd.read_csv("train.csv")
display(data.head(10))    # view the first 10 rows of data

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452
5,6,2011-09-06,67,46.0,14.0,NaN,NaN,NaN,NaN,NaN,...,62,14,1,53,78,1,20,113,17,9100000
6,7,2011-09-08,25,14.0,10.0,NaN,NaN,NaN,NaN,NaN,...,81,16,3,38,80,1,27,127,8,5500000
7,8,2011-09-09,44,44.0,5.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,11,18,1,0,47,4,2000000
8,9,2011-09-10,42,27.0,5.0,NaN,NaN,NaN,NaN,NaN,...,19,8,1,18,34,1,3,85,11,5300000
9,10,2011-09-13,36,21.0,9.0,NaN,NaN,NaN,NaN,NaN,...,19,13,0,10,20,1,3,67,1,2000000

In [4]:
#Example 2
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Columns: 292 entries, id to price_doc
dtypes: float64(119), int64(157), object(16)
memory usage: 67.9+ MB

In [5]:
#Example 3
data[['full_sq']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   full_sq  30471 non-null  int64
dtypes: int64(1)
memory usage: 238.2 KB

In [6]:
#Example 4
data[['max_floor','build_year','kitch_sq']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30471 entries, 0 to 30470
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   max_floor   20899 non-null  float64
 1   build_year  16866 non-null  float64
 2   kitch_sq    20899 non-null  float64
dtypes: float64(3)
memory usage: 714.3 KB

In [7]:
#Example 5
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
30466    False
30467    False
30468    False
30469    False
30470    False
Length: 30471, dtype: bool

In [8]:
#Example 6
data.duplicated().describe()

count     30471
unique        1
top       False
freq      30471
dtype: object

In [9]:
#Example 7
data.describe()

,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,30471.000000,24088.000000,30304.000000,20899.000000,20899.000000,1.686600e+04,20899.000000,20899.000000,16912.000000,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,15237.917397,54.214269,34.403271,7.670803,12.558974,1.827121,3.068057e+03,1.909804,6.399301,2.107025,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,8796.501536,38.031487,52.285733,5.319989,6.756550,1.481154,1.543878e+05,0.851805,28.265979,0.880148,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,7620.500000,38.000000,20.000000,3.000000,9.000000,1.000000,1.967000e+03,1.000000,1.000000,1.000000,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,15238.000000,49.000000,30.000000,6.500000,12.000000,1.000000,1.979000e+03,2.000000,6.000000,2.000000,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,22855.500000,63.000000,43.000000,11.000000,17.000000,2.000000,2.005000e+03,2.000000,9.000000,3.000000,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,30473.000000,5326.000000,7478.000000,77.000000,117.000000,6.000000,2.005201e+07,19.000000,2014.000000,33.000000,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08

Question 1: Letâ€™s look at the range of sizes in this apartments. What is the size of the largest? Letâ€™s assume all the maximums belong to a single apartment. What is the size of the median apartment? And the smallest? These are given in square meters, so youâ€™ll have to convert to square feet. What are the sizes of the 25th and 75th percentile?

Largest: 57328.59 sq ft
Median: 527.43 sq ft
Smallest: 0 sq ft
25th percentile: 409.03 sq ft
75th percentile: 678.13 sq ft

In [10]:
data[['max_floor','build_year','kitch_sq']].describe()

          max_floor    build_year      kitch_sq
count  20899.000000  1.686600e+04  20899.000000
mean      12.558974  3.068057e+03      6.399301
std        6.756550  1.543878e+05     28.265979
min        0.000000  0.000000e+00      0.000000
25%        9.000000  1.967000e+03      1.000000
50%       12.000000  1.979000e+03      6.000000
75%       17.000000  2.005000e+03      9.000000
max      117.000000  2.005201e+07   2014.000000

Exercise 1: Many Russians walk, and so a 3km zone was delinated for this data set. church_count_3000 is the number of churches within 3000m of each of these apartments. Determine how many are reported, and generate a data analysis of these values.

In [24]:
#Exercise 1
print('The amount of churches in a 3000m vicinity are displayed below')
data[['church_count_3000']].sum()

The amount of churches in a 3000m vicinity are displayed below

church_count_3000    374427
dtype: int64

Exercise 2: Cheap eats might be important. cafe_count_5000_na_price is the number of cafes within a 5km zone that doesnâ€™t have a minimum bill. Do the numbers on these.

In [25]:
#Exercise 2
print('The amount of cafes without a minimum bill in a 5km zone')
data[['cafe_count_5000_na_price']].sum()

The amount of cafes without a minimum bill in a 5km zone

cafe_count_5000_na_price    542594
dtype: int64

Question 2: Many of these values are missing. What can you do about the missing numbers? Weâ€™ll cover the possiblities later, but what do you think we can do about them?

Handling null values requires a series of functions. Rather than having "N/A" or "True/false", you would first run "isnull()" in order to display where null values exist. In order to display a cleaner set of data, you can then run
the function ".fillna(value=0)" where you can then print your table and see that the values will now be shown as 0.